.section-title {
  background-color: #305cde;
  color: white;
  padding: 5px 10px;
  margin-bottom: 0;
  width: 300px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.form-section {
  /* border: 1px solid #305cde; */
  /* border-radius: 5px; */
}

.profile-pic {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
/* Buttons */
.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-outline-primary {
  border: 1px solid #305cde !important;
  color: #305cde;
  background-color: transparent;
}

.btn-outline-primary:hover {
  background-color: #305cde;
  color: white;
  transform: scale(1.05);
}

.btn-primary {
  background-color: #305cde;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #254ab5;
  transform: scale(1.05);
}
